<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="campground image">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <h6>By <%= campground.author.username %>
                    </h6>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-body-secondary">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                </ul>
                <% if (user && campground.author.equals(user)) { %>
                    <div class="card-body">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info mb-3">Edit</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Campground</button>
                        </form>
                    </div>
                    <% } %>

                        <div class="card-footer text-body-secondary">
                            2 days ago
                        </div>
            </div>
        </div>
        <div class="col-5">
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="needs-validation mb-3"
                novalidate>
                <h2>Leave a Review</h2>
                <div class="mb-3">
                    <label for="score" class="form-label">Rating</label>
                    <input type="range" name="review[score]" id="score" min="0" max="5" class="form-range">
                    <p id="score-display">3</p>
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Review</label>
                    <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Review cannot be empty!</div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for( let review of campground.reviews ) { %>
                <div class="mb-3 card">
                    <div class="card-body">
                        <h5>Score: <%= review.score %>
                        </h5>
                        <p>
                            <%= review.body %>
                        </p>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-sm btn-danger">Delete Review</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <hr>
    <a href="/campgrounds" class="btn btn-primary mb-3">View All Campgrounds</a>
    <script>
        //Updating score display as input changes
        const scoreDisplay = document.querySelector('#score-display');
        const score = document.querySelector('#score');
        score.addEventListener('input', () => {
            scoreDisplay.textContent = score.value;
        })
    </script>